.App {
	width: 100vw;
	height: 100vh;
	background-color: rgb(37, 37, 38);
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-box {
	width: fit-content;
	height: fit-content;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	padding: 6px;
	background-color: bisque;
}

.animation-frame {

	background-color: hsl(276, 100%, 18%);
	border: 2px black solid;
	outline: 2px bisque solid;
}
