.App {
	width: 100vw;
	height: 100vh;
	background-color: rgb(37, 37, 38);
	display: flex;
	justify-content: center;
	align-items: center;
}

.animation-frame {
	background-color: hsl(276, 10%, 8%);
	/* border: 2px black solid; */
	/* outline: 2px bisque solid; */
}
